[Unit]
Description=Initialisation de l'horloge RTC Luma-Cœur.1
After=multi-user.target

[Service]
ExecStart=/home/luma/luma_scripts/rtc_init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
